@model IEnumerable<SS12CarWashing.Models.ItemType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
