@model SS12CarWashing.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtyOnHand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtyOnHand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OilTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OilTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemType.ItemTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
