@model IEnumerable<SS12CarWashing.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrandTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SaleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SaleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SaleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
